<h1 style="position: absolute; color: white; font-family: copperplate; font-size: 42px">Rock, Paper, Scissors...<br>(Lizard and Spock?)</h1>
<body bgcolor="#1D6EB0">
<div align="center">
  <img src="http://www.thinkgeek.com/images/products/additional/large/b597_rock_papaer_scissors_lizard_spock_dd.jpg" height="580" width="580">
</div>
<div>
<form action= "/games" method= "post">
    <font face="copperplate" color="white" size="5" ><label for = "player_name"><b> Enter your name:</b></label>
      <input type="text" name="player_name" placeholder="Sheldon"/>
  </div>
  <div>
    <input type="radio" name="game" id="rps" value="rps"> Classical Rock, Paper, Scissors<br>
    <input type="radio" name="game" id="rpsls" value="rpsls"> New and Improved Rock, Paper, Scissors, Lizard, Spock<br>
  </div>
</font>
<div align="center">
  <input type="submit"  name="Start Game" value = "Start Game" style="font-family:'courier new'; color:black; font-size: 25px; height: 75; width: 330px"/>
</div>
</form>
</body>
