<h1 style="color: white; font-family: copperplate; font-size: 42px">The result for the player <%= @game.player.name%> is the following:</h1>
<h2 style="color: white; font-family: copperplate; font-size: 32px">You chose <%= @game.player.player_option %></h2>
<h2 style="color: white; font-family: copperplate; font-size: 32px">The computer chose <%= @game.computer_option %></h2>
<h2 style="color: white; font-family: copperplate; font-size: 32px"><%= @game.match %></h2>
<body bgcolor="#1D6EB0">
