<h1 style="color: white; font-family: copperplate; font-size: 42px">Welcome to Rock, Paper, Scissors, Lizard, Spock <%= @game.player.name%></h1>
<body bgcolor="#1D6EB0">
  <br>
    <div align="center">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/29/33/bb/2933bb400c3139fb78288eb5c7138233.jpg">
    </div>
    <h2 style="color: white; font-family: copperplate; font-size: 42px">Please select one of the following options to play:</h2>
    <form action="/rpslsresult" >
      <font face="copperplate" color="white" size="5" >
        <div>
          <input type="radio" name="lsoptions" value="paper"> Paper<br>
          <input type="radio" name="lsoptions" value="rock"> Rock<br>
          <input type="radio" name="lsoptions" value="scissors"> Scissors<br>
          <input type="radio" name="lsoptions" value="lizard"> Lizard<br>
          <input type="radio" name="lsoptions" value="spock"> Spock<br>
        </div>
      </font>
      <div align="center">
        <input type="submit" value = "Play!" style="font-family:'courier new'; color:black; font-size: 25px; height: 75; width: 330px"/>
      </div>
    </form>
  </body>
